<!-- content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- message -->
 <% if (locals.messages) { %>
    <div class="flash-messages">
        <%- messages() %>
    </div>
<% } %>

<!-- error -->
 <% if (errors && errors.length > 0) { %>
    <ul class="notice error-messages">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
<% } %>

<!-- Links -->
<ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>


